#center
{
    width:1000px;
    height: 812px;
    margin:2px auto;
    background-color:pink;
}
#center p
{
    text-align: center;
    padding-top:20px;
}
.center1
{
    width:420px;
    font-weight: bold;
    font-size: 14px;
    margin:0px 33px;
}
.center1 p
{
    padding-left: 120px;
    width: 244px;
    font-size: 12px;
    margin-top: -34px;

}
.center3
{
    width:600px;
    height:600px;
    background: url(../img/porduct-show.jpg) no-repeat;
    margin:155px auto;
}